/*
!.gitignore

!/public/
/public/*
!/public/wp-create-photos.php
!/public/wp-create-albums.php
!/public/wp-create-posts.php
!/public/wp-config.php
!/public/wp-content/
/public/wp-content/*
!/public/wp-content/themes/
/public/wp-content/themes/*
!/public/wp-content/themes/twentytwentyone/
/public/wp-content/themes/twentytwentyone/*
!/public/wp-content/themes/twentytwentyone/functions.php
!/public/wp-content/themes/twentytwentyone/archive.php
!/public/wp-content/themes/twentytwentyone/single.php
!/public/wp-content/themes/twentytwentyone/template-parts/single.php